:root {
    --bg-header-fc: #333;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--bg-header-fc);
    color: #fff;
    height: 50px;
}

.logo-heading-container {
    display: flex;
    align-items: center;
}

.heading {
    margin-left: 18px; 
    cursor: pointer;
}

.nav-links {
    margin-left: auto;
}