.main-footer{
    background-color: #333;
    color: white;
}

.col .list-unstyled{
    list-style: none;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.icon{
    width: 25px;
    height: 25px;
    border-radius: 30%;
    background-color: white;

}
