.contact_page_container {

    background: radial-gradient(circle, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    height: 100vh;
    padding: 20px;
}

.message-text {
    color: yellow;
    font-size: large;
    font-weight: bold;
    text-shadow: 2px 2px #ff0000;
}

.office-details {
    background: transparent;
}

.message-container,
.office-details {
    width: 45%;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
    background: transparent;
    box-shadow: 0 40px 40px rgba(0, 0, 0, 0.2);
}

.message {
    font-size: large;
}

.input-container input,
.input-container textarea {
    font-size: large;
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    border-style: none;
    border-bottom: 2px solid black;
    background: transparent;
}


.input-container label {
    font-size: large;
    font-weight: bold;
}

.name-container {
    display: flex;
    justify-content: space-between;
}

.input-container input,
textarea:focus {
    outline: none;
}

.name-container label,
.name-container input {
    width: 48%;
}

.email {
    display: block;
}

.office-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.contact-info {
    text-align: center;
}

.office-details h1 {
    margin-bottom: 10px;
    color: #333;
}

.office-details h3 {
    display: flex;
    align-items: center;
    margin-top: 20px;
    color: #333;
}

.office-details h3 .icon {
    margin-right: 10px;
    width: 25px;
    height: 25px;
    mix-blend-mode: color-burn;
}

.office-details p {
    font-size: large;
    color: #555;
}