.home-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(121, 202, 202);
    color: black;
    padding-top: 0;
}

.aside-info-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 40px;
    background: transparent;
}

.main-heading {
    font-size: 2.5em;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.top-content {
    padding: 0%;
    background-image: url('./../images/pill.jpg');
    height: 500px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.main-content p {
    font-size: 1.2em;
    color: #fff;
    max-width: 800px;
    margin: 0 auto;
}

.side-info {
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
    text-align: center;
    max-width: 400px;
    height: 270px;
}

.main-content-head {
    font-size: 70px;
    color: #fff;
}

.about-company p {
    padding: 20px;
    font-size: 1.2em;
    color: white;
}

.side-info h2 {
    margin-top: 0;
    color: #333;
}

.side-info p {
    color: white;
}

.logo-img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.partners {
    text-align: center;
    margin-top: auto;
    width: 100%;
}


.partners h2 {
    font-size: 2em;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
}

.why-choose-us-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 40px;
    background: transparent;
    color: #fff;
    background-color: cadetblue;
}


.why-choose-us-container img {
    height: 350px;
    width: 550px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.why-choose-us-points li {
    max-width: 500px;
}

.partners-logo {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.partners-logo img {
    max-width: 200px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}

.partners-logo img:hover {
    transform: scale(1.05);
}